<div class="col-lg-3">
    <div class="panel panel-{{ tile_color(package_kpi.errors) }}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-exclamation fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ package_kpi.errors }}</div>
                    <div>Errors</div>
                </div>
            </div>
        </div>
        <a href="/execution/{{ environment['execution_id'] }}/details/errors">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3">
    <div class="panel panel-{{ tile_color(package_kpi.warnings) }}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-question fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ package_kpi.warnings }}</div>
                    <div>Warnings</div>
                </div>
            </div>
        </div>
        <a href="/execution/{{ environment['execution_id'] }}/details/warnings">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3">
    <div class="panel panel-{{ tile_color(package_kpi.memory_warnings) }}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-fire fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ package_kpi.memory_warnings }}</div>
                    <div>Memory Warnings</div>
                </div>
            </div>
        </div>
        <a href="/execution/{{ environment['execution_id'] }}/details/memory-warnings">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3">
    <div class="panel panel-{{ tile_color(package_kpi.duplicate_warnings) }}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-magnet fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ package_kpi.duplicate_warnings }}</div>
                    <div>Duplicate Warnings</div>
                </div>
            </div>
        </div>
        <a href="/execution/{{ environment['execution_id'] }}/details/duplicate-warnings">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>