<div class="col-lg-4">
    <div class="panel panel-{{ tile_color(kpi_execution.errors) }}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-bomb fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ kpi_execution.errors }}</div>
                    <div>Errors</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-{{ tile_color(kpi_execution.memory_warnings) }}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-bolt fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ kpi_execution.memory_warnings }}</div>
                    <div>Memory Warinings</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-{{ tile_color(kpi_execution.duplicate_warnings) }}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-magnet fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ kpi_execution.duplicate_warnings }}</div>
                    <div>Duplicate Warnings</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>