<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SQL Server Integration Services Monitoring Dashboard v {{ environment['version'] }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Main CSS -->
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SQL Server Integration Services Monitoring Dashboard v {{ environment['version'] }}</a>
            </div>
            <!-- /.navbar-header -->

        </nav>

        <!-- Page Content -->
        <div id="page-wrapper" style="margin-left: 0px">
            <div class="row">
                {% include 'fragments/engine-info.html' %}
            </div>

            <!-- Executed Packages DataTable -->
            <!-- Packages Dashboard -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Package: {{ package_info.folder_name }} \ {{ package_info.project_name }} \ {{ package_info.package_name }} (v.{{ package_info.project_lsn }})</h2>
                </div>
            </div>
            <div class="row">
                {% include 'fragments/package-kpi.html' %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Details</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table id="package-datatable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Message Time</th>
                                    <th>Message</th>
                                    <th>Package</th>
                                    <th>Package Path</th>
                                    <th>Subcomponent Name</th>
                                    <th>Execution Path</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in package_details %}
                                <tr>
                                    <td>{{ d.message_time }}</td>
                                    <td>{{ d.message }}</td>
                                    <td>{{ d.package_name}}</td>
                                    <td>{{ d.package_path }}</td>
                                    <td>{{ d.subcomponent_name }}</td>
                                    <td>{{ d.execution_path }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery Version 1.11.0 -->
    <script src="/static/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>

    <script>
        $(document).ready(function () {

            /* Initialize Datatables */
            $('#package-datatable').dataTable({
                "pageLength": 5,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "order": [[0, "desc"]],
                "aoColumnDefs": [{ "bSortable": true, "aTargets": [0] }]
            });          

            $('.dataTables_filter input').attr('placeholder', 'Search')
        });

    </script>

</body>

</html>
