{% extends "_base.html" %}

{% block content %}

<div id="page-wrapper" style="margin-left: 0px">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Route Not Yet Implemented.</h2>
            <h3>You may have spelled the url wrongly or something has not been implemented yet...</h3>
            <h3>...but will come in a while. Just be patient and check often here: <a href="https://github.com/yorek/ssis-dashboard">SSIS Dashboard @ GitHub</a> :)</h3>
        </div>
    </div>
</div>

{% endblock %}

{% block pagejs %}

{% endblock %}