<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A SQL Server Integration Services monitoring dashboard">

    <title>SQL Server Integration Services Dashboard v {{ environment['version'] }} | Configuration</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- SmartMenu CSS -->
    <link href="/static/css/plugins/smartMenu/addons/bootstrap/jquery.smartmenus.bootstrap.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Main CSS -->
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .editor-block {
            height:600px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Configuration Editor<br /></h2>
            </div>
        </div>
        <form action="" method="post">
            <div class="row editor-block" >
                <div class="col-lg-12">
                    <textarea name="editor"></textarea>
                    <div id="editor" class="editor-block">{{ configuration['text'] }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                     <input class="btn btn-danger" type="reset" value="Cancel">
                    <input class="btn btn-success" type="submit" value="Save">
                </div>
            </div>
        </form>
    </div>

    <!-- jQuery Version -->
    <script src="/static/js/jquery-2.2.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- SmartMenus Menu Plugin JavaScript -->
    <script src="/static/js/plugins/smartMenu/jquery.smartmenus.min.js"></script>
    <script src="/static/js/plugins/smartMenu/addons/bootstrap/jquery.smartmenus.bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>

    <!-- ACE Editor -->
    <script src="/static/js/ace/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $(function() {
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/chrome");
            editor.setShowPrintMargin(false);
            editor.getSession().setMode("ace/mode/python");

            var textarea = $('textarea[name="editor"]').hide();
            editor.getSession().on('change', function(){
                textarea.val(editor.getValue());                
            });            
        });
    </script>
</body>

</html>