<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A SQL Server Integration Services monitoring dashboard">

    <title>SQL Server Integration Services Dashboard v {{ environment['version'] }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- SmartMenu CSS -->
    <link href="/static/css/plugins/smartMenu/addons/bootstrap/jquery.smartmenus.bootstrap.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Main CSS -->
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-wrapper">
            <!-- Configuration Editor -->
            <div class="row">
                <div class="col-lg-12">
                    <h2>Configuration Editor<br /></h2>
                </div>
            </div>
            <form action="" method="post">
                <div class="row">
                    <div class="col-lg-12">
                        <textarea class="form-control" name="configure" rows="30">{{ configuration['text'] }}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <input class="btn btn-danger" type="reset" value="Cancel">
                    </div>
                    <div class="col-lg-6">
                        <input class="btn btn-success" type="submit" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- jQuery Version -->
    <script src="/static/js/jquery-2.2.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- SmartMenus Menu Plugin JavaScript -->
    <script src="/static/js/plugins/smartMenu/jquery.smartmenus.min.js"></script>
    <script src="/static/js/plugins/smartMenu/addons/bootstrap/jquery.smartmenus.bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>
</body>
</html>
